doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')

	body
		p.pagination-centered 
			a( href="/strategies") See all Strategies |
			a( href="/deleteall") Delete All Data 
		block content