extends layout

block content
	h1= title
	- if (strategies.length)
		table.zebra-striped
			thead
				tr
					th Title
					th Vision
			tbody
				- strategies.forEach(function(strategy){
					tr
						td= strategy['title']
						td= strategy['vision']
				- })
	- else
		p No registered strategies yet.