extends layout

block content
	.container
		div.page
			h1.page-title.strategy-title= title
			p.description.strategy-description= strategy.vision
			form(name="input", action="/strategy/" + strategy.title, method="post",class="pagination-centered")
				input(type="text", name="goal",required="required",placeholder="Insert new goal")
			ul.goal
				each goal in strategy.goals 
					li
						h1.title.goal-title= goal
						form(name="remove", action="/strategy/" + strategy.title, method="post",class="pagination-centered")
							input(type="hidden",value=goal)
							input(type="submit", value="delete")
						