extends layout

block content
	.container
		h1 Strategies
		- if (strategies.length)
			table.zebra-striped
				thead
					tr
						th Title
						th Vision
				tbody
					- strategies.forEach(function(strategy){
						tr
							td
								a(href="/strategy/"+  strategy.title)= strategy.title

							td= strategy['vision']
					- })
		- else
			p No registered strategies yet.
			a(href="/") Create a new one here!